.vi__container {
    width: 90%;
    flex: 0 0 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    &.desktop {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &.large {
        max-width: 1280px;
    }

    &.extra-large {
        max-width: 1600px;
    }

    &.medium {
        max-width: 900px;
    }

    @media #{$xl-and-up} {
        width: 85%;
        flex: 0 0 85%;
        max-width: 85%;

        &.desktop {
            width: 85%;
            flex: 0 0 85%;
            max-width: 85%;
        }

        &.large {
            max-width: 1280px;
        }

        &.extra-large {
            max-width: 1600px;
        }
    
        &.medium {
            max-width: 900px;
        }
    }
}

.vi__section {
    margin-top: 72px;
    margin-bottom: 72px;

    @media #{$m-and-up} {
        margin-top: 108px;
        margin-top: 108px;
    }

    @media #{$xl-and-up} {
        margin-top: 8vw;
        margin-top: 8vw;
    }

    @media #{$xxl-and-up} {
        margin-top: 6vw;
        margin-top: 6vw;
    }
}