.vi__container {
    width: 90%;
    flex: 0 0 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media #{$xl-and-up} {
        width: 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }
}