$fold-screen: 319.98px !default;
$mobile-screen: 599.98px !default;
$tablet-screen-down: 991.98px !default;
$desktop-screen-down: 1279.98px !default;
$desktop-large-screen-down: 1599.98px !default;
$mobile-landscape-screen-up: 600px !default;
$tablet-landscape-screen-up: 992px !default;
$desktop-screen-up: 1280px !default;
$desktop-large-screen-up: 1600px !default;
$desktop-extra-large-screen-up: 2000px !default;

$s-and-down: "only screen and (max-width : #{$mobile-screen})" !default;
$m-and-down: "only screen and (max-width : #{$tablet-screen-down})" !default;
$l-and-down: "only screen and (max-width : #{$desktop-screen-down})" !default;
$xl-and-down: "only screen and (max-width : #{$desktop-large-screen-down})" !default;
$m-and-up: "only screen and (min-width : #{$mobile-landscape-screen-up})" !default;
$l-and-up: "only screen and (min-width : #{$tablet-landscape-screen-up})" !default;
$xl-and-up: "only screen and (min-width : #{$desktop-screen-up})" !default;
$xxl-and-up: "only screen and (min-width : #{$desktop-large-screen-up})" !default;
$xxxl-and-up: "only screen and (min-width : #{$desktop-extra-large-screen-up})" !default;

$dark-mode: "(prefers-color-scheme: dark)" !default;

// Colors 
$site-bg: #d9d8d4 !default;
$dark-site-bg: #27282c !default;
$font-color: #272625 !default;
$font-accent-color: #64666c !default;
$heading-font-color: #11110f !default;
$primary-color: #376147 !default;
$secondary-color: #74C29C !default;
$primary-accent-color: lighten($primary-color, 10%) !default;
$secondary-accent-color: darken($secondary-color, 10%) !default;
$primary-gradient: linear-gradient(45deg, $secondary-color 0%, $primary-color 100%);
$primary-accent-gradient: linear-gradient(45deg, $secondary-accent-color 0%, $primary-accent-color 100%);
$highlight-color: rgba($primary-color, .5) !default;
$white: #ffffff !default;
$black: #000000 !default;
$orange: #E5AA46 !default;

// Fonts
$font-stack: 'Roboto', sans-serif !default;
$font-weight: 400 !default;
$heading-font-stack: 'Manrope', 'Roboto', sans-serif !default;
$heading-font-weight: 300 !default;
$signature-font-stack: 'emithascript' !default;
$signature-font-weight: normal !default;

$h1-fontsize-xs-mobile: 1.75rem !default;
$h2-fontsize-xs-mobile: 1.6rem !default;
$h3-fontsize-xs-mobile: 1.5rem !default;
$h4-fontsize-xs-mobile: 1.4rem !default;
$h5-fontsize-xs-mobile: 1.25rem !default;
$h6-fontsize-xs-mobile: 1.15rem !default;
$h1-fontsize-mobile: 2.5rem !default;
$h2-fontsize-mobile: 2rem !default;
$h3-fontsize-mobile: 1.75rem !default;
$h4-fontsize-mobile: 1.5rem !default;
$h5-fontsize-mobile: 1.25rem !default;
$h6-fontsize-mobile: 1.15rem !default;
$h1-fontsize: 3.5rem !default;
$h2-fontsize: 3.25rem !default;
$h3-fontsize: 2.75rem !default;
$h4-fontsize: 2.5rem !default;
$h5-fontsize: 1.75rem !default;
$h6-fontsize: 1.5rem !default;
$h1-fontsize-desktop: 4rem !default;
$h2-fontsize-desktop: 3.5rem !default;
$h3-fontsize-desktop: 3.25rem !default;
$h4-fontsize-desktop: 2.75rem !default;
$h5-fontsize-desktop: 1.75rem !default;
$h6-fontsize-desktop: 1.5rem !default;

// Design Rules
$transition: all 0.4s ease !default;
$border-radius: 56px;